<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=utf-8' http-esquiv='Content-Type'>
</head>
<body>
  <h1>Salut <%= @carsharing.driver.first_name %>
  <p>
    <%= @passenger.first_name %> a rejoint votre covoiturage! 
  </p>
  <p>
    À très vite sur https://dixneuvieme-golf.herokuapp.com/ !
  </p>
</body>
</html>
