<%= render 'carsharings/header_inner_pages' %>
<h1>Liste des conversations en cours:</h1>

<% User.all.each do |user| %>
      <% if user.id != current_user.id%>
            <% if pm_count(current_user.id, user.id) != 0 %>
                  <p> Interlocuteurs: </p>
                  <%= link_to user.first_name, user_conversation_path(current_user, user.id), class: "btn btn-secondary" %>
                  <p> Nombre de messages: <%= pm_count(current_user.id, user.id) %> </p>
            <% end %>
      <% end %>
<% end %>






