<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2>Mes messages</b></h2>
      </div>
    </div>    
  </div>
</section>
<div class="bg-gradient-2">
  <div class="container" style="margin-top:0;">
    <div class="row justify-content-center" style="padding-top:0;">
      <div class="col-md-10 col-lg-8">
        <%= render 'users/conversation_list' %>
        <div class="text-center">
          <br>
          <%= link_to "Nouvelle conversation", new_privatemessage_path, class: "btn btn-primary btn-sm btn-rounded" %>
        </div>
      </div>
    </div>
  </div>
</div>