<% @carsharing.each do |carsharing| %>
  <% if carsharing.driver_id == @user.id %>
    <div class="row gutter-1">
      <div class="col-12">
        <div class="boxed p-2">
          <div class="row align-items-center justify-content-between">
            <div class="col-10">
              <div class="media align-items-center">
                <div class="media-body">
                  <h5 class="mb-0"><%= carsharing.golf.name %></h5>
                  <% if carsharing.date != nil %>
                    <span class="text-muted">Covoiturage effectué le <%= carsharing.date.day %> <%= Date::MONTHNAMES[carsharing.date.month] %> <%= carsharing.date.year %> </span>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>