<% Carsharing.all.where(driver_id:params[:id]).each do |carsharing| %>
  <% Carsharingreview.all.where(carsharing_id: carsharing.id).each do |review| %>
    <div class="row gutter-2">
      <article class="card">
        <div class="card-body overflow-hidden">
          <blockquote class="blockquote">
            <p class="mb-0"> <i class="fas fa-star"></i> <%= review.grade %> - <%= review.content %> </p>
            <footer class="blockquote-footer"><cite title="Source Title"><%= review.passenger.first_name %> <%= review.passenger.last_name %></cite></footer>
          </blockquote>
        </div>
      </article>
    </div>
  <% end %>
<% end %>