<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2>Créer un golf</b></h2>
      </div>
    </div>    
  </div>
</section>
  
<%= render 'golf_new_form' %>

<div class="btn center">
    <%= link_to "Retour", :back %>
</div>