<%= render 'carsharings/header_inner_pages' %>
<section class='bg-gradient'>
  <div class='container'>
    <div class='row sign-up'>
      <div class='col-md-12'>
        <h2>Merci pour ton message</h2>
        <p>Nous reviendrons vers toi au plus vite !</p>
      </div>
    </div>
  </div>
</section>