<!-- CTA -->
<section class="p-0">
  <div class="swiper-container swiper-container-half text-white"
    data-top-top="transform: translateY(0px);" 
    data-top-bottom="transform: translateY(250px);">
    <div class="swiper-wrapper">
      <div class="swiper-slide vh-100">
        <div class="image image-overlay background-image"></div>
        <div class="caption">
          <div class="container">
            <div class="row justify-content-center vh-100">
              <div class="col-md-8 align-self-center text-center">
                <h1 data-swiper-parallax="-100%" class="display-2"><b>19ème trou</b></h1>
                <h3 data-swiper-parallax="-100%" class="display-2 undertitle">Service de covoiturage pour golfeur citadin</h3>
                <%= link_to "Trouve un covoiturage", carsharings_path , class: "btn btn-rounded btn-white px-5" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Map title-->
<div class="bg-light map-title">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 text-center">
      <h2>Les golfs près de chez toi</h2>
      <h5>Navigue sur la carte pour afficher les golfs alentours</h5>
    </div>
  </div>    
</div>
<!-- Map -->
<section class="py-0">
  <div class="map-flex">
    <div id="map" class="vh-80 map-width"></div>
  </div>

  <%= javascript_include_tag('map.js') %>
  <script async defer src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"%> type="text/javascript"></script>

</section>