<div class="col-md-6 col-lg-4">
  <div class="card card-minimal">
    <a href="" class="card-img-container">
      <%= link_to image_tag("<%= image_tag @golf.golf_image, alt: 'IMAGE' %>", class: "card-img"), golf_path(golf.id) %>
    </a>
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{golf.name}", golf_path(golf.id) %></h5>
      <p class="card-title"> <%= golf.course_type %> | <i class="fas fa-star"></i> 4.5 - 5 avis </p>
    </div>
  </div>
</div>
