<div class="owl-carousel review-listing" data-items="[1]">
  <blockquote class="review">
    <span class="review-score bg-orange"><%= comment.grade %></span>
    <p><%= comment.content %></p>
    <hr>
    <span><%= comment.user.first_name %> <%= comment.user.last_name %></span>
  </blockquote>
</div>