<blockquote class="blockquote blockquote-1">
  <p><%= comment.content %> - <i class="fas fa-star"></i> <strong><%= comment.grade %></strong></p>
  <footer class="blockquote-footer">
    <%= comment.user.first_name %> <%= comment.user.last_name %> 
  </footer>          
</blockquote>