<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2>Les golfs les mieux notés</h2>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->
<div class="bg-gradient-2">
  <br>
  <div class="flex">
    <% @golfs.order(average_grade: :desc).first(3).each do |golf| %>
      <%= render 'card', golf: golf %>
    <% end %>
  </div>
</div>

