<!-- Page header -->
<section class="page-header">
  <div class="image image-overlay"></div>
  <div class="container">
      <div class="col text-white text-shadow">
        <h2>Les golfs autour de chez moi</b></h2>
    </div>
  </div>
</section>

<!-- Content -->

<section class="component-example flex">
  <% @golfs.each do |golf| %>
    <%= render 'card', golf: golf %>
  <% end %>
</section>

