<!-- hero -->
<section class="hero hero-with-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h1><b>Everything</b> from design to development.</h1>
      </div>
    </div>
  </div>    
</section>
<!-- / hero -->


<!-- services -->
<section class="pt-0 pattern pattern-dark">
  <div class="container">
    <div class="row boxed separated">
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
            <img src="../../assets/images/demo/illustrations/draw-1.svg" alt="Image">
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Game Development</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
            <img src="../../assets/images/demo/illustrations/draw-2.svg" alt="Image">
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Targeted Marketing</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
            <img src="../../assets/images/demo/illustrations/draw-3.svg" alt="Image">
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Support</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
            <img src="../../assets/images/demo/illustrations/draw-4.svg" alt="Image">
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">SEO</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
            <img src="../../assets/images/demo/illustrations/draw-5.svg" alt="Image">
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Security</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
            <img src="../../assets/images/demo/illustrations/draw-6.svg" alt="Image">
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Fast Delivery</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
  </div>
</section>
<!-- / services -->


<!-- testimonials -->
<section class="bg-white separator-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2>Kind Words</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="owl-carousel" data-items="[2,1]" data-autoplay="true" data-dots="true" data-loop="true" data-margin="50">
          <blockquote class="blockquote blockquote-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <footer class="blockquote-footer">
              Valerie Doe
            </footer>
          </blockquote>
          <blockquote class="blockquote blockquote-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <footer class="blockquote-footer">
              Valerie Doe
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / testimonial -->