
</br></br></br></br></br></br>
<div class="container" style="display flex">   
    <div class="text-center">
    <%= render 'paiement_new_form' %>
    </div>
</div>   
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>