<!-- Page header -->
<section class="page-header">
  <div class="image image-overlay"></div>
  <div class="container">
      <div class="col text-white text-shadow">
        <h2>Les covoiturages disponibles près de chez moi</b></h2>
        <%= link_to "Ajouter un covoiturage", new_carsharing_path, class: "btn btn-outline-white btn-rounded" %>
    </div>
  </div>
</section>

<!-- Carsharings index -->
<section class="component-example flex">
  <% @carsharing.each do |carsharing| %>
    <%if carsharing.validated%>
    <%= render 'card', carsharing: carsharing %>
    <%end%>
  <% end %>
</section>
