<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2>Les covoiturages disponibles près de chez moi</b></h2>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->
<div class="bg-gradient-2">
  <br>
  <div class="flex-center">
    <%= link_to "Ajouter un covoiturage", new_carsharing_path, class: "btn btn-outline-primary btn-rounded" %>
  </div>
  <br>
  <br>
  <% if @carsharing.count == 0 %>
    Il n'y a pas encore de covoiturages de proposés
  <% else %>
    <div class="flex-center">
      <% @carsharing.each do |carsharing| %>
        <%if carsharing.validated%>
          <%= render 'card', carsharing: carsharing %>
        <%end%>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
