<h2 class='container'>Création d'un covoiturage</h2>
<div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
  <div class="component-example">
    <div class='container'>
      <%= render 'carsharing_new_form' %>
    </div>
  </div>
</div>


