/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require vendor
 *= require assets/style
 *= require_tree .
 *= require_self
 

 */
 
.footer-style {
  height: 15vh;
  padding:0;
  background-color: #FFFFFF;
}

.icon-space-right {
  margin-right: 50px;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #bc2a8d;
}

.fa-twitter {
  color: #00acee;
}

.Divalert, .Divheader {
  position: absolute;	
}
.Divheader {
  position: fixed;
  top: 0;
}
.Divalert {
  opacity: 0.70;
  width: 30%;
  margin-top: 5%;
  position: fixed;
  top: 0;
  left: 65%;
  z-index: 900;
}

.social-media{
  padding-right: 10px !important;
}

/* solve scrolling horizontaly pb */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* solve footer pb*/

body {
  position: relative;
  margin: 0;
  height: 100%;
}

footer {
  
  position: absolute;
  bottom: 0px;
}

.bg-gradient {
  min-height: 100%;
}

.admin-tabs{
  padding:20px 10px;
  text-align:center;
}

.admin-tabs-th{
  padding:0; 
  text-align:center;
}

.adjust-footer-left{
  padding-left: 135px;
}

.adjust-footer-right{
  padding-right: 120px;
}