// Place all the styles related to the carsharings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 40px;
  background-color: white;
}


.fa-star {
  color: gold;
}

.circle {
  position: relative;
  background-color: white;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.avatar-sm {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

p {
  color: #151515;
}

.center {
  display: flex;
  justify-content: center;
}

.card-footer {
  padding-top: 10px;
}

.flex-carsharing-add {
  display: flex;
  justify-content: space-between;
}

.page-header {
  height: 25vh;
  padding-top: 80px;
}

.stripe-button-el {
  display: none !important;
}

.row {
  padding-top: 40px;
}

.bg-gradient-1 {
  background: linear-gradient(#F5F5F5 1%, #f5f5f5);
}

.bg-gradient-2 {
  background: linear-gradient(#f5f5f5, #FFFFFF);
}

.card-header-golf {
  text-align: right;
  max-width: 50%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.fa-envelope-open-text {
  color: var(--primary)
}