// Place all the styles related to the carsharings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 40px;
  background-color: white;
}

.test {
  margin-left: 7.5%;
}

.fa-star {
  color: gold;
}

.circle {
  position: relative;
  background-color: white;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

p {
  color: #151515;
}

.center {
  display: flex;
  justify-content: center;
}

.card-footer {
  padding-top: 10px;
}

.btn-primary {
  background-color: #49e179;
  border: #49e179; 
}

.btn-primary:hover {
  background-color: #31d863;
  border: #31d863; 
}

.flex-carsharing-add {
  display: flex;
  justify-content: space-between;
}

.page-header {
  height: 25vh;
  padding-top: 80px;
}

.stripe-button-el {
  display: none !important;
}

.row {
  padding-top: 40px;
}

.bg-gradient-1 {
  background: linear-gradient(#B2B6B8 1%, #f5f5f5);
}

.bg-gradient-2 {
  background: linear-gradient(#f5f5f5, #FFFFFF);
}


