// Place all the styles related to the golfs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-golfs{

        text-align: center;
        margin-left: auto;
        margin-right: auto;
}

.avatar-golf {
    border-radius: 2%;
    width: 350px;
    height: 250px;
    margin-bottom: 3%;    
  }

.test {

  text-align: center;

}

.component-example {

  background: rgba(21, 21, 21, 0.1);    
}

.fas {
  font-size: 4em;

}

.golf-flag{

  width: 6em;
  height: 6em;
}

.boxed {
  
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.fa-star{

  font-size: 1em;

}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blockquote-2::before {
  top: -2rem;
  font-size: 6rem;
  left: 0rem;
}


.card-img {
  height: 300px;
}

.feature-size {
  width: 130px;
}

.list-width {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.feature-content {
  padding-left: 10px;
}

.golf-image {
  width:100%;
}

.description-height {
  height: 50%;
}

.comment-height {
  height: 40%;
}

.comment-scroll {
  height: 50%;
  overflow-y: scroll;
}


.golf-search-bar {
  -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
  font-size: 100%;
  background: #FFFFFF url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px rgb(201,201,201);
	padding: 9px 10px 9px 32px;
	width: 75%;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.golf-search-bar:focus {
  outline: none;
	width: 100%;
	background-color: #FFFFFF;
	border-color: #73AE70;
}



