// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-primary {
  color: #fff;
  background-color: #49e179;
  border-color: #49e179; }