.undertitle {
  font-size: 40px;
}

.background-image {
  background-image: url(golf-etretat.jpg)
}

.map-title {
  height: 20vh;
  padding: 20px 0;
}

.map-width {
  width: 80%;
  display: flex;
  justify-content: center;
}

.map-flex {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}
