#googleMap {
  width:100%;
  height:76vh;
  z-index: 2;
  margin-bottom: 30px;
}

.welcome-container {
position: relative;
width:100%;
max-width: 100%;
} 

.header {
color: white;
background-size: cover;
background-image: url('welcome-pic.jpg');
}

.header .intro-text {
padding-top: 300px;
padding-bottom: 200px;
}

.header .intro-text .intro-lead-in {
text-shadow: 1px 1px #000;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
}
.header .intro-text .intro-heading {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
}