<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=utf-8' http-esquiv='Content-Type'>
</head>
<body>
  <h3> Bonjour <%= @resource.first_name %>, </h3>
  <p style="margin:0;"> Tu as fait une demande de changement de mot de passe. Ci-dessous le lien pour le faire:</p>
  <p style="margin:0;"><%= link_to 'Nouveau mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
  <br>
  <hr style="width:30%;">
  <br>
  <footer>
    <p style="font-style:italic;">
      19ème trou est une application s'enrichissant constamment des retours utilisateurs. N'hésite donc pas à nous faire part de tes remarques à l'adresse suivante: dixneuvieme.golf@gmail.com
    </p>
    <h4 style="margin:0;"> À très vite sur les greens de France,</h4>
    <h4 style="margin:0;"> L'équipe 19ème trou </h4>
  </footer>
</body>
</html>
