<div class="row" style="padding-top:0;">
  <div class="col">
    <%= form_tag golf_golfcomments_path(params[:golf_id]), method: "post" do %>
      <div class="form-row mb-1 flex-center">
        <div class="col-md-7">
          <%= select_tag(:grade, options_for_select([['0 étoile', 0], ['1 étoile', 1], ['2 étoiles', 2], ['3 étoiles', 3], ['4 étoiles', 4], ['5 étoiles', 5]])) %>
          <%= text_area_tag 'content', nil, class: 'form-control', rows: '6', placeholder: 'Votre avis sur le golf* (20 caractères minimum)' %>
        </div>
      </div>
      <div class="form-row mt-12">
        <div class='col flex-center'>
          <%= submit_tag "Mon avis", class: 'btn btn-primary px-5' %>
        </div> 
      </div>
    <% end %>
  </div>
</div>
