<%= render 'carsharings/header_inner_pages' %>
<section class='bg-gradient'>
  <div class="container">
    <div class="row sign-up">
      <div class='col-md-12'>
        <h2>Mon avis sur le <%= @golf.name %></h2>
      </div>
    </div>
    <%= render 'comment_new_form' %>
  </div>
</section>





