<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header">
  <div class="image image-overlay"></div>
  <div class="container">
      <div class="col text-white text-shadow">
        <h2>Mon avis sur le golf de Gonesse</b></h2>
    </div>
  </div>
</section>

<%= render 'comment_new_form' %>

  






