<footer class="bg-dark text-white footer-height">
      <div class="text-left">
        <span class="icon-space-right"><i class="fab fa-facebook fa-3x"></i></span>
        <span class="icon-space-right"><i class="fab fa-instagram fa-3x"></i></span>
        <span class="icon-space-right"><i class="fab fa-twitter fa-3x"></i></span>
      </div>
      <div class="text-right">
        <span class="copyright-text"> Fait en 2019 à Paris avec <i class="fas fa-heart fa-lg"></i></span>
      </div>
</footer>
