<footer class= "row justify-content-between align-items-center footer-style navbar navbar-inverse navbar-fixed-bottom" id='footer'>
  <div class="col-md-4 text-center text-md-left">
    <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="mailto:dixneuvieme.golf@gmail.com">Nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://google.com">A propos</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag "logo-temp.png", class: "logo-sm" %>
    <p class="copyright-text" style="padding-top:5px;"> Fait en 2019 à Paris avec <i class="fas fa-heart fa-lg"></i></p>
  </div>
  <div class="col-md-4 text-center text-md-right">
    <ul class="socials">
      <li><a href="https://fr.linkedin.com/" class="icon-space-right"><i class="fab fa-linkedin fa-2x"></i></a></li>
      <li><a href="https://www.facebook.com/" class="icon-space-right"><i class="fab fa-facebook fa-2x"></i></a> </li>      
      <li><a href="https://www.instagram.com/?hl=fr"class="icon-space-right"><i class="fab fa-instagram fa-2x"></i></a></li>
      <li><a href="https://twitter.com/login?lang=fr" class="icon-space-right"><i class="fab fa-twitter fa-2x"></i></a></li>           
    </ul>
  </div>
</footer>
