<footer class="bg-dark text-white footer-height">
      <div class="col">
        <img class="logo-sm" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo">
      </div>
      <div class="col text-right">
        <span class="copyright-text"> Fait en 2019 à Paris avec <i class="fas fa-heart fa-lg"></i></span>
      </div>
</footer>